<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規メモ作成</title>
</head>
<body>
	<h1>新規メモ作成</h1>
	<form action="@{/user/memos}" method="post">
		<label for="title">タイトル:</label>
		<input type="text" id="title" name="title" th:value="${memo.title}" required/>
		
		<label for="content">内容:</label>
		<textarea id="content" name="content" cols="30" rows="10" th:text="${memo.content}" required></textarea>
		<br />
		
		<button type="submit">作成</button>
	</form>
</body>
</html>